.head{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tad{
    font-size: xx-large;
}
.tad2{
    font-size: large;
}
.tt1{
    background-color: white;
}